<md-dialog aria-label="select image">
    <form name="staticForm" class="form-main">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>{/'Docker TCP Socket Addrs Required' | translate/}</h2>
                <span flex></span>
                <md-button id="node-dialog-nodeip-cancel" class="md-icon-button" ng-click="formCtrl.cancel()"
                           aria-label="cancel">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <h3 class="ng-binding">
              {/'1. Check&Init the node' | translate/}
              <span class="required">*</span>
            </h3>
            <p>{/'Init node' | translate/}</p>
            <code id="cmd">curl -XGET {/formCtrl.data.url/}node-init.sh | sudo sh</code>
            <div class="sub-button">
              <md-button id="node-master-ssh-copy" class="md-raised md-success md-small copy" ngclipboard data-clipboard-target="#cmd"  md-autofocus>
                <i class="fa fa-clone"></i>{/'Copy code' | translate/}
              </md-button>
            </div>
            <h3 class="ng-binding">
              {/'2. Docker Daemon TCP Socket required' | translate/}
              <span class="required">*</span>
            </h3>
            <p>{/'Docker TCP Socket Addrs' | translate/}</p>
            <input id="node-nodeip-endpoint" type="text" name="endpoint" aria-label="endpoint" placeholder="http://192.168.59.105:2375"
                   data-ng-model="formCtrl.data.endpoint" data-required="required" md-autofocus>
            <div ng-messages="staticForm.endpoint.$error" ng-if="staticForm.endpoint.$dirty" role="alert">
                <p class="help-info text-danger" ng-message="required"><small>{/'Address Required' | translate/}</small></p>
            </div>
            <p>
              <a style="color:#333" href="https://docs.docker.com/engine/reference/commandline/dockerd/#/daemon-socket-option">{/'How to configure Docker Daemon Socket Addrs' | translate/}</a>
            </p>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button id="node-nodeip-cancel" ng-click="formCtrl.cancel()" aria-label="cancel">{/'Cancel' | translate/}</md-button>
            <md-button id="node-nodeip-ok" data-ng-disabled="staticForm.$invalid" data-ng-click="formCtrl.ok()" aria-label="ok"
                       class="md-primary">{/'Connect' | translate/}
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

