<form name="createRegAuth" class="form-main">
    <div class="form-group" layout="column">
        <label>{/'Registry Auth Name' | translate/}<span class="required">*</span></label>
        <div class="form-control">
            <input id="Rauth-name" type="text" data-ng-model="regAuthCreateCtrl.form.Name" focus-me
                   data-required="required" name="name">
        </div>
        <div ng-messages="createRegAuth.name.$error" ng-if="createRegAuth.name.$dirty" role="alert">
            <p class="text-danger help-text"
               ng-message="required">
                <small>{/'Name field is required' | translate/}</small>
            </p>
        </div>
    </div>

    <div class="form-group" layout="column">
        <label>{/'Username' | translate/}<span class="required">*</span>
            <small></small>
        </label>
        <div class="form-control">
            <input id="Rauth-user-name" type="text" name="UserName" data-required="required"
                   data-ng-model="regAuthCreateCtrl.form.Username">
        </div>
        <div ng-messages="createRegAuth.UserName.$error" ng-if="createRegAuth.UserName.$dirty" role="alert">
            <p class="text-danger help-text"
               ng-message="required">
                <small>{/'Username is required' | translate/}</small>
            </p>
        </div>
    </div>

    <div class="form-group" layout="column">
        <label>{/'Password' | translate/}<span class="required">*</span>
            <small></small>
        </label>
        <div class="form-control">
            <input id="Rauth-password" type=password ng-trim="false" name="PassWord" data-required="required"
                   data-ng-model="regAuthCreateCtrl.form.Password">
        </div>
        <div ng-messages="createRegAuth.PassWord.$error" ng-if="createRegAuth.PassWord.$dirty"
             role="alert">
            <p class="text-danger help-text"
               ng-message="required">
                <small>{/'Password is required' | translate/}</small>
            </p>
        </div>
    </div>

    <div class="form-group" layout="column">
        <label>{/'Confirm password again' | translate/}<span class="required">*</span>
            <small></small>
        </label>
        <div class="form-control">
            <input id="Rauth-rePassword" type=password ng-trim="false" name="rePassWord" data-required="required"
                   data-ng-model="regAuthCreateCtrl.rePassWord"
                   dm-no-equal="regAuthCreateCtrl.form.Password">
        </div>
        <div ng-messages="createRegAuth.rePassWord.$error" ng-if="createRegAuth.rePassWord.$dirty"
             role="alert">
            <p class="text-danger help-text"
               ng-message="required">
                <small>{/'Volume Name is required' | translate/}</small>
            </p>
            <p class="text-danger help-text"
               ng-message="checkrepeat">
                <small>{/'Passwords mis-match' | translate/}</small>
            </p>
        </div>
    </div>

    <footer class="form-buttons">
        <md-button id="Rauth-create" class="md-raised md-primary"
                   data-ng-disabled="createRegAuth.$invalid"
                   data-ng-click="regAuthCreateCtrl.create()">{/'Create' | translate/}
        </md-button>
        <md-button id="Rauth-cancel" data-ng-click="rootCtrl.goBack()">{/'Cancel' | translate/}</md-button>
    </footer>
</form>
