<section layout="row" class="info-list-detail">
    <h2 flex="20">基础信息</h2>
    <div flex="80" layout="row" layout-wrap>
        <div flex="30"><h5>作用范围</h5></div>
        <div flex="70"><p>{/networkConfigCtrl.network.Scope/}</p></div>
        <div flex="30"><h5>支持 IPv6</h5></div>
        <div flex="70"><p>{/networkConfigCtrl.network.EnableIPv6/}</p></div>
        <div flex="30"><h5>仅内部网络</h5></div>
        <div flex="70"><p>{/networkConfigCtrl.network.Internal/}</p></div>
    </div>
</section>

<section layout="row" class="info-list-detail">
    <h2 flex="20">地址管理</h2>
    <div flex="80" layout="row" layout-wrap>
        <div flex="30"><h5>子网掩码</h5></div>
        <div flex="70"><p>{/networkConfigCtrl.network.IPAM.Config[0].Subnet/}</p></div>
        <div flex="30"><h5>网关 IP</h5></div>
        <div flex="70"><p>{/networkConfigCtrl.network.IPAM.Config[0].Gateway/}</p></div>
        <div flex="30"><h5>选项</h5></div>
        <div flex="70"><p data-ng-repeat="(key, value) in networkConfigCtrl.network.Options">{/key/} : {/value/}</p>
        </div>
    </div>
</section>

<section layout="row" class="info-list-detail">
    <h2 flex="20">连接容器</h2>
    <div flex="80" dm-empty-display="networkConfigCtrl.network.Containers">
    <table>
        <thead>
        <tr>
            <th>容器名称</th>
            <th>IPv4 地址</th>
            <th>IPv6 地址</th>
            <th>Mac 地址</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="(key, value) in networkConfigCtrl.network.Containers">
            <td>{/value.Name/}</td>
            <td><span ng-class="{'no-info': !value.IPv4Address}">{/value.IPv4Address || '未配置'/}</span></td>
            <td><span ng-class="{'no-info': !value.IPv6Address}">{/value.IPv6Address || '未配置'/}</span></td>
            <td><span ng-class="{'no-info': !value.MacAddress}">{/value.MacAddress || '未配置'/}</span></td>
        </tr>
        </tbody>
    </table>
    </div>
</section>
