<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>容器名称</th>
            <th md-column>IPv4 地址</th>
            <th md-column>IPv6 地址</th>
            <th md-column>Mac 地址</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="(key, value) in networkContainerCtrl.network.Containers">
            <td md-cell>{/value.Name/}</td>
            <td md-cell>{/value.IPv4Address || '-'/}</td>
            <td md-cell>{/value.IPv6Address || '-'/}</td>
            <td md-cell>{/value.MacAddress || '-'/}</td>
            <td md-cell>
                <md-menu md-offset="0 -5">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-ellipsis-h"></i>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button aria-label="Connect">连接
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="Disconnect">断开
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
