# Compiled Object files, Static and Dynamic libs (Shared Objects)
*.o
*.a
*.so

# Folders
_obj
_test

# Architecture specific extensions/prefixes
*.[568vq]
[568vq].out

*.cgo1.go
*.cgo2.c
_cgo_defun.c
_cgo_gotypes.go
_cgo_export.*

_testmain.go

*.exe
*.test
*.prof
/bin/crane
bin/nohup.out
mysql_storage
registry_storage
docker
deploy/env_file
deploy/docker-compose.yml
coverage-all.out
coverage.out
coverage.html
doc/registry/config.yml
.crane.json
