<md-content>
    <form name="staticForm" class="form-main">
        <div class="form-group" layout="column">
            <label>服务名称<span class="required">*</span>
                <small></small>
            </label>
            <div class="form-control">
                <input type="text" data-ng-model="serviceUpdateCtrl.form.Name"
                       data-required="required" name="name" data-ng-disabled="true">
            </div>
            <div ng-messages="staticForm.name.$error" ng-if="staticForm.name.$dirty"
                 role="alert">
                <p class="text-danger help-text"
                   ng-message="required">
                    <small>名称不能为空</small>
                </p>
                <p class="text-danger help-text"
                   ng-message="pattern">
                    <small>名称必须数字或者英文</small>
                </p>
                <p class="text-danger help-text"
                   ng-message="dmCheckInclude">
                    <small>服务名不能重复</small>
                </p>
            </div>
        </div>

        <div class="form-group" layout="column">
            <label>镜像<span class="required">*</span></label>
            <div class="form-control">
                <input type="text"
                       data-ng-model="serviceUpdateCtrl.form.TaskTemplate.ContainerSpec.Image"
                       data-required="required" name="Image">
            </div>
            <div ng-messages="staticForm.Image.$error" ng-if="staticForm.Image.$dirty"
                 role="alert">
                <p class="text-danger help-text"
                   ng-message="required">
                    <small>镜像不能为空</small>
                </p>
            </div>
        </div>

        <div class="form-group" layout="column">
            <label>任务数量</label>
            <div class="form-control" layout="row" layout-align="start center">
                <md-radio-group data-ng-model="serviceUpdateCtrl.form.defaultMode" layout="row"
                                aria-label="defaultMode"
                                data-ng-change="serviceUpdateCtrl.modeChange()"
                                layout-align="start center" flex>
                    <div flex="25">
                        <md-radio-button value="Replicated" class="md-primary" data-ng-disabled="true">固定数
                        </md-radio-button>
                        <input type="number" min="0"
                               data-ng-show="serviceUpdateCtrl.form.defaultMode === 'Replicated'"
                               data-ng-required="serviceUpdateCtrl.form.defaultMode === 'Replicated'"
                               data-ng-model="serviceUpdateCtrl.form.Mode.Replicated.Replicas   " name="replicas">
                    </div>
                    <div flex="25">
                        <md-radio-button value="Global" class="md-primary" flex-offset="5" data-ng-disabled="true">
                            一节点一任务
                        </md-radio-button>
                    </div>
                </md-radio-group>
            </div>
            <p class="text-danger help-text"></p>
        </div>

        <div class="form-group" layout="column">
            <label>选择 RegAuth</label>
            <div class="form-control">
                <md-select data-ng-model="serviceUpdateCtrl.form.RegistryAuth"
                           aria-label="RegAuth">
                    <md-option value="">空</md-option>
                    <md-option data-ng-repeat="regAuth in serviceUpdateCtrl.regAuths"
                               ng-value="regAuth.Name"
                               ng-selected="regAuth.Name === serviceUpdateCtrl.service.Spec.RegistryAuth">
                        {/regAuth.Name/}
                    </md-option>
                </md-select>
            </div>
            <p class="text-danger help-text"></p>
        </div>

        <div class="form-group" layout="column">
            <label>选择网络
                <small>(不支持修改)</small>
            </label>
            <div class="form-control">
                <md-select data-ng-model="serviceUpdateCtrl.form.formNetworks" multiple
                           aria-label="Networks" data-ng-disabled="true">
                    <md-option data-ng-repeat="network in serviceUpdateCtrl.networks | filter: {Driver: '!bridge'}"
                               ng-value="network.Name"
                               ng-selected="serviceUpdateCtrl.initSelectNetworks(network.Name)">{/network.Name/}
                    </md-option>
                </md-select>
            </div>
            <p class="text-danger help-text"></p>
        </div>

        <div class="form-group" layout="column">
            <div class="sub-button">
                <md-button class="md-raised md-success md-small"
                           data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formPorts, 'Ports')">
                    <i class='fa fa-plus'></i>添加端口映射
                    <small>可添加多个端口映射</small>
                </md-button>
            </div>
            <div data-ng-repeat="port in serviceUpdateCtrl.form.formPorts track by $index">
                <ng-form name="portForm">
                    <div class="form-control sub-group" layout="row" layout-align="start center">
                        <input type="number" placeholder="TargetPort" flex="20"
                               data-ng-model="port.TargetPort" data-required="required"
                               name="TargetPort" max="65535" min="1">
                        <md-select ng-model="port.Protocol" data-required="required" flex="20"
                                   aria-label="select protocol">
                            <md-option value="tcp">TCP</md-option>
                            <md-option value="udp">UDP</md-option>
                        </md-select>
                        <input type="number" placeholder="主机端口" flex="20"
                               data-ng-model="port.PublishedPort" data-required="required"
                               name="PublishedPort" max="65535" min="1">
                        <md-button class="md-icon-button md-primary" aria-label="trash"
                                   data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formPorts)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </md-button>
                    </div>
                </ng-form>
                <div ng-messages="portForm.TargetPort.$error"
                     ng-if="portForm.TargetPort.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="max">
                        <small>服务端口最大不超过 65535</small>
                    </p>
                    <p class="text-danger help-text"
                       ng-message="min">
                        <small>服务端口最小为 1</small>
                    </p>
                </div>

                <div ng-messages="portForm.PublishedPort.$error"
                     ng-if="portForm.PublishedPort.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="max">
                        <small>主机端口最大不超过 65535</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group" layout="column">
            <div class="sub-button">
                <md-button class="md-raised md-success md-small"
                           data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formEnv, 'Env')">
                    <i class='fa fa-plus'></i>添加环境变量
                    <small>可添加多个环境变量</small>
                </md-button>
            </div>
            <div data-ng-repeat="env in serviceUpdateCtrl.form.formEnv track by $index">
                <ng-form name="envForm">
                    <div class="form-control sub-group" layout="row" layout-align="start center">
                        <input flex="20" type="text" placeholder="KEY"
                               data-ng-model="env.key" data-required="required"
                               name="envKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                               dm-check-include="serviceUpdateCtrl.listConfigByKey(serviceUpdateCtrl.form.formEnv, $index)">

                        <input flex="20" type="text" placeholder="VALUE"
                               data-ng-model="env.value" data-required="required"
                               name="envValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">

                        <md-button class="md-icon-button md-primary" aria-label="trash"
                                   data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formEnv)">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </md-button>
                    </div>
                </ng-form>
                <div ng-messages="envForm.envKey.$error" ng-if="envForm.envKey.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="pattern">
                        <small>环境变量 Key 值不能包含中文</small>
                    </p>
                    <p class="text-danger help-text"
                       ng-message="dmCheckInclude">
                        <small>环境变量 Key 值不能重复</small>
                    </p>
                </div>

                <div ng-messages="envForm.envValue.$error" ng-if="envForm.envValue.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="pattern">
                        <small>环境变量 Value 值不能包含中文</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="fold-line">
            <a href="#"
               data-ng-click="serviceUpdateCtrl.showStartupParameter = !serviceUpdateCtrl.showStartupParameter">
                <i class="fa"
                   ng-class="{'fa-minus-square-o': serviceUpdateCtrl.showStartupParameter, 'fa-plus-square-o': !serviceUpdateCtrl.showStartupParameter}"></i>启动参数
            </a>
        </div>
        <div data-ng-show="serviceUpdateCtrl.showStartupParameter">
            <div class="form-group" layout="column">
                <label>容器工作目录</label>
                <div class="form-control">
                    <input type="text"
                           data-ng-model="serviceUpdateCtrl.form.TaskTemplate.ContainerSpec.Dir" name="workdir">
                </div>
                <div ng-messages="staticForm.workdir.$error"
                     ng-if="staticForm.workdir.$dirty"
                     role="alert">
                </div>
            </div>

            <div class="form-group" layout="column">
                <label>命令行</label>
                <div class="sub-button">
                    <md-button class="md-raised md-success md-small"
                               data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formCmd, 'Cmd')">
                        <i class='fa fa-plus'></i>添加 Command
                    </md-button>
                </div>
                <div data-ng-repeat="cmd in serviceUpdateCtrl.form.formCmd track by $index">
                    <ng-form name="cmdForm">
                        <div class="form-control sub-group" layout="row" layout-align="start center">
                            <input type="text" placeholder="CMD" flex="40"
                                   data-ng-model="cmd.command" data-required="required"
                                   name="cmdInput">

                            <md-button class="md-icon-button md-primary" aria-label="trash"
                                       data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formCmd)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </md-button>
                        </div>
                    </ng-form>
                    <div ng-messages="cmdForm.cmdInput.$error"
                         ng-if="cmdForm.cmdInput.$dirty"
                         role="alert">
                        <p class="error-info help-info-bottom"
                           ng-message="pattern">
                            <small>Command 不能包含中文</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group" layout="column">
                <label>Args</label>
                <div class="sub-button">
                    <md-button class="md-raised md-success md-small"
                               data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formArgs, 'Args')">
                        <i class='fa fa-plus'></i>添加 Args
                    </md-button>
                </div>
                <div data-ng-repeat="arg in serviceUpdateCtrl.form.formArgs track by $index">
                    <ng-form name="argsForm">
                        <div class="form-control sub-group" layout="row" layout-align="start center">
                            <input type="text" flex="40"
                                   data-ng-model="arg.arg" data-required="required"
                                   name="argInput">

                            <md-button class="md-icon-button md-primary" aria-label="trash"
                                       data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formArgs)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </md-button>
                        </div>
                    </ng-form>
                    <div ng-messages="argsForm.argInput.$error"
                         ng-if="argsForm.argInput.$dirty"
                         role="alert">
                        <p class="error-info help-info-bottom"
                           ng-message="pattern">
                            <small>Args 不能包含中文</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fold-line">
            <a href="#" data-ng-click="serviceUpdateCtrl.showTag = !serviceUpdateCtrl.showTag">
                <i class="fa"
                   ng-class="{'fa-minus-square-o': serviceUpdateCtrl.showTag, 'fa-plus-square-o': !serviceUpdateCtrl.showTag}"></i>标签
            </a>
        </div>

        <div data-ng-show="serviceUpdateCtrl.showTag">
            <div class="form-group" layout="column">
                <div class="sub-button">
                    <md-button class="md-raised md-success md-small"
                               data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formLabels, 'ServeLabels')">
                        <i class='fa fa-plus'></i>添加服务标签
                        <small>可添加多个标签</small>
                    </md-button>
                </div>
                <div data-ng-repeat="label in serviceUpdateCtrl.form.formLabels track by $index">
                    <ng-form name="labelForm">
                        <div class="form-control sub-group" layout="row" layout-align="start center">
                            <input type="text" placeholder="KEY" flex="20"
                                   data-ng-model="label.key" data-required="required"
                                   name="labelKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                                   data-ng-disabled="$index < serviceUpdateCtrl.serviceLabelLength"
                                   dm-check-include="serviceUpdateCtrl.listConfigByKey(serviceUpdateCtrl.form.formLabels, $index)">
                            <input type="text" placeholder="VALUE" flex="20"
                                   data-ng-model="label.value" data-required="required"
                                   name="labelValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                                   data-ng-disabled="$index < serviceUpdateCtrl.serviceLabelLength">

                            <md-button class="md-icon-button md-primary" aria-label="trash"
                                       data-ng-hide="$index < serviceUpdateCtrl.serviceLabelLength"
                                       data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formLabels)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </md-button>
                        </div>
                    </ng-form>
                    <div ng-messages="labelForm.labelKey.$error"
                         ng-if="labelForm.labelKey.$dirty"
                         role="alert">
                        <p class="text-danger help-text"
                           ng-message="pattern">
                            <small>标签 Key 值不能包含中文</small>
                        </p>
                        <p class="text-danger help-text"
                           ng-message="dmCheckInclude">
                            <small>标签 Key 值不能重复</small>
                        </p>
                    </div>

                    <div ng-messages="labelForm.labelValue.$error"
                         ng-if="labelForm.labelValue.$dirty"
                         role="alert">
                        <p class="text-danger help-text"
                           ng-message="pattern">
                            <small>标签 Value 值不能包含中文</small>
                        </p>
                    </div>
                </div>
            </div>

            <div class="form-group" layout="column">
                <div class="sub-button">
                    <md-button class="md-raised md-success md-small"
                               data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formContainerLabels, 'Labels')">
                        <i class='fa fa-plus'></i>添加容器标签
                        <small>可添加多个标签</small>
                    </md-button>
                </div>
                <div data-ng-repeat="label in serviceUpdateCtrl.form.formContainerLabels track by $index">
                    <ng-form name="labelForm">
                        <div class="form-control sub-group" layout="row" layout-align="start center">
                            <input type="text" placeholder="KEY" flex="20"
                                   data-ng-model="label.key" data-required="required"
                                   name="labelKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                                   dm-check-include="serviceUpdateCtrl.listConfigByKey(serviceUpdateCtrl.form.formContainerLabels, $index)">
                            <input type="text" placeholder="VALUE" flex="20"
                                   data-ng-model="label.value" data-required="required"
                                   name="labelValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">

                            <md-button class="md-icon-button md-primary" aria-label="trash"
                                       data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formContainerLabels)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </md-button>
                        </div>
                    </ng-form>
                    <div ng-messages="labelForm.labelKey.$error"
                         ng-if="labelForm.labelKey.$dirty"
                         role="alert">
                        <p class="text-danger help-text"
                           ng-message="pattern">
                            <small>标签 Key 值不能包含中文</small>
                        </p>
                        <p class="text-danger help-text"
                           ng-message="dmCheckInclude">
                            <small>标签 Key 值不能重复</small>
                        </p>
                    </div>

                    <div ng-messages="labelForm.labelValue.$error"
                         ng-if="labelForm.labelValue.$dirty"
                         role="alert">
                        <p class="text-danger help-text"
                           ng-message="pattern">
                            <small>标签 Value 值不能包含中文</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fold-line">
            <a href="#" data-ng-click="serviceUpdateCtrl.showResourceLimit = !serviceUpdateCtrl.showResourceLimit">
                <i class="fa"
                   ng-class="{'fa-minus-square-o': serviceUpdateCtrl.showResourceLimit, 'fa-plus-square-o': !serviceUpdateCtrl.showResourceLimit}"></i>资源限制
            </a>
        </div>
        <div data-ng-show="serviceUpdateCtrl.showResourceLimit">

            <div class="form-group" layout="column">
                <label>每个任务的资源限制</label>
                <div class="form-control sub-group" layout="row" layout-align="start center">
                    <div flex="25">
                        <label class="sub-label">CPU
                            <small>核</small>
                        </label>
                        <input type="number"
                               data-ng-model="serviceUpdateCtrl.form.TaskTemplate.Resources.Limits.NanoCPUs"
                               name="limitCpu" min="0.01">
                    </div>
                    <div flex="25">
                        <label class="sub-label">内存
                            <small>MB</small>
                        </label>
                        <input type="number"
                               data-ng-model="serviceUpdateCtrl.form.TaskTemplate.Resources.Limits.MemoryBytes"
                               name="limitMem" min="4">
                    </div>
                </div>
                <div ng-messages="staticForm.limitCpu.$error" ng-if="staticForm.limitCpu.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="min">
                        <small>CPU 最小为 0.01</small>
                    </p>
                </div>
                <div ng-messages="staticForm.limitMem.$error" ng-if="staticForm.limitMem.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="min">
                        <small>内存最小为 4 MB</small>
                    </p>
                </div>
            </div>

            <div class="form-group" layout="column">
                <label>每个任务的资源预留</label>
                <div class="form-control sub-group" layout="row" layout-align="start center">
                    <div flex="25">
                        <label class="sub-label">CPU
                            <small>核</small>
                        </label>
                        <input type="number"
                               data-ng-model="serviceUpdateCtrl.form.TaskTemplate.Resources.Reservations.NanoCPUs"
                               name="ReservationsCpu" min="0.01">
                    </div>
                    <div flex="25">
                        <label class="sub-label">内存
                            <small>MB</small>
                        </label>
                        <input type="number"
                               data-ng-model="serviceUpdateCtrl.form.TaskTemplate.Resources.Reservations.MemoryBytes"
                               name="ReservationsMem" min="4">
                    </div>
                </div>
                <div ng-messages="staticForm.ReservationsCpu.$error"
                     ng-if="staticForm.ReservationsCpu.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="min">
                        <small>CPU 最小为 0.01</small>
                    </p>
                </div>
                <div ng-messages="staticForm.ReservationsMem.$error"
                     ng-if="staticForm.ReservationsMem.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="min">
                        <small>内存最小为 4 MB</small>
                    </p>
                </div>
            </div>
        </div>

        <div class="fold-line">
            <a href="#" data-ng-click="serviceUpdateCtrl.showFaultTolerant = !serviceUpdateCtrl.showFaultTolerant">
                <i class="fa"
                   ng-class="{'fa-minus-square-o': serviceUpdateCtrl.showFaultTolerant, 'fa-plus-square-o': !serviceUpdateCtrl.showFaultTolerant}"></i>容错策略
            </a>
        </div>

        <div data-ng-show="serviceUpdateCtrl.showFaultTolerant">
            <div class="form-group" layout="column">
                <label>容错策略</label>
                <div class="form-control" layout="row" layout-align="start center">
                    <md-radio-group data-ng-model="serviceUpdateCtrl.form.TaskTemplate.RestartPolicy.Condition"
                                    layout="row" aria-label="restart-condition" flex>
                        <div flex="25">
                            <md-radio-button value="any" class="md-primary">
                                <i class="fa fa-umbrella"></i>
                                <md-tooltip md-direction="top">无论任务正常或异常退出，都重启, 适合批处理或定时任务场景</md-tooltip>
                                退出后重启
                            </md-radio-button>
                        </div>
                        <div flex="25">
                            <md-radio-button value="none" class="md-primary">不重启</md-radio-button>
                        </div>
                        <div flex="25">
                            <md-radio-button value="on-failure" class="md-primary">
                                <i class="fa fa-umbrella"></i>
                                <md-tooltip md-direction="top">在退出状态码(exit code)非 0 的情况下重启</md-tooltip>
                                失败重启
                            </md-radio-button>
                        </div>
                    </md-radio-group>
                </div>
                <div class="form-control sub-group" layout="row" layout-align="start center">
                    <div flex="25">
                        <label class="sub-label">重启间隔
                            <small>秒</small>
                        </label>
                        <input type="number"
                               data-ng-model="serviceUpdateCtrl.form.TaskTemplate.RestartPolicy.Delay"
                               name="restartDelay" min="0">
                    </div>
                    <div flex="25">
                        <label class="sub-label">在?时间之内
                            <small>秒</small>
                        </label>
                        <input type="number" min="0"
                               data-ng-model="serviceUpdateCtrl.form.TaskTemplate.RestartPolicy.Window"
                               name="restartMaxAttempts">
                    </div>
                    <div flex="25">
                        <label class="sub-label">最多尝试重启?次</label>
                        <input type="number" min="0"
                               data-ng-model="serviceUpdateCtrl.form.TaskTemplate.RestartPolicy.MaxAttempts"
                               name="restartMaxAttempts">
                    </div>
                </div>
            </div>
        </div>

        <div class="fold-line">
            <a href="#" data-ng-click="serviceUpdateCtrl.showUpdatePolicy = !serviceUpdateCtrl.showUpdatePolicy">
                <i class="fa"
                   ng-class="{'fa-minus-square-o': serviceUpdateCtrl.showUpdatePolicy, 'fa-plus-square-o': !serviceUpdateCtrl.showUpdatePolicy}"></i>更新策略
            </a>
        </div>

        <div data-ng-show="serviceUpdateCtrl.showUpdatePolicy">
            <div class="form-group" layout="column">
                <label>更新策略</label>
                <div class="form-control" layout="row" layout-align="start center">
                    <md-radio-group data-ng-model="serviceUpdateCtrl.form.UpdateConfig.FailureAction" layout="row"
                                    aria-label="restart-condition" flex>
                        <div flex="25">
                            <md-radio-button value="continue" class="md-primary">更新失败后继续尝试</md-radio-button>
                        </div>
                        <div flex="25">
                            <md-radio-button value="pause" class="md-primary">更新失败后停止</md-radio-button>
                        </div>
                    </md-radio-group>
                </div>
                <div class="form-control sub-group" layout="row" layout-align="start center">
                    <div flex="25">
                        <label class="sub-label">在?时间之内
                            <small>秒</small>
                        </label>
                        <input type="number" min="0"
                               data-ng-model="serviceUpdateCtrl.form.UpdateConfig.Delay" name="updateDelay">
                    </div>
                    <div flex="25">
                        <label class="sub-label">并行更新?个任务</label>
                        <input type="number" min="0"
                               data-ng-model="serviceUpdateCtrl.form.UpdateConfig.Parallelism"
                               name="updateParallelism">
                    </div>
                </div>
            </div>

            <div class="form-group" layout="column">
                <label>
                    <i class="fa fa-umbrella"></i>
                    <md-tooltip md-direction="top">容器将在容忍时间之后被强制杀死</md-tooltip>
                    容器退出的容忍时间
                </label>
                <div class="form-control">
                    <input type="number" name="stopGracePeriod"
                           data-ng-model="serviceUpdateCtrl.form.TaskTemplate.ContainerSpec.StopGracePeriod">
                </div>
                <div ng-messages="staticForm.stopGracePeriod.$error"
                     ng-if="staticForm.stopGracePeriod.$dirty"
                     role="alert">
                </div>
            </div>
        </div>

        <div class="fold-line">
            <a href="#"
               data-ng-click="serviceUpdateCtrl.showSchedulingStrategy = !serviceUpdateCtrl.showSchedulingStrategy">
                <i class="fa"
                   ng-class="{'fa-minus-square-o': serviceUpdateCtrl.showSchedulingStrategy, 'fa-plus-square-o': !serviceUpdateCtrl.showSchedulingStrategy}"></i>调度策略
            </a>
        </div>

        <div data-ng-show="serviceUpdateCtrl.showSchedulingStrategy">
            <div class="form-group" layout="column">
                <div class="sub-button">
                    <md-button class="md-raised md-success md-small"
                               data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formConstraints, 'Constraints')">
                        <i class='fa fa-plus'></i>添加限制条件
                        <small>可添加多个限制条件</small>
                    </md-button>
                </div>
                <div data-ng-repeat="constraint in serviceUpdateCtrl.form.formConstraints track by $index">
                    <ng-form name="constraintForm">
                        <div class="form-control sub-group" layout="row" layout-align="start center">
                            <input type="text" placeholder="KEY" flex="20"
                                   data-ng-model="constraint.key" data-required="required"
                                   name="constraintKey" minlength="2"
                                   dm-check-include="serviceUpdateCtrl.listConfigByKey(serviceUpdateCtrl.form.formConstraints, $index)">

                            <input type="text" placeholder="VALUE" flex="20"
                                   data-ng-model="constraint.value" data-required="required"
                                   name="constraintValue">

                            <md-button class="md-icon-button md-primary" aria-label="trash"
                                       data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formConstraints)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </md-button>
                        </div>
                    </ng-form>
                    <div ng-messages="constraintForm.constraintKey.$error"
                         ng-if="constraintForm.constraintKey.$dirty"
                         role="alert">
                        <p class="text-danger help-text"
                           ng-message="pattern">
                            <small>KEY 不能包含中文</small>
                        </p>
                        <p class="text-danger help-text"
                           ng-message="dmCheckInclude">
                            <small>KEY 不能重复</small>
                        </p>
                        <p class="text-danger help-text"
                           ng-message="minlength">
                            <small>KEY 长度不少于 2</small>
                        </p>
                    </div>
                    <div ng-messages="constraintForm.constraintValue.$error"
                         ng-if="constraintForm.constraintValue.$dirty"
                         role="alert">
                        <p class="text-danger help-text"
                           ng-message="pattern">
                            <small>VALUE 不能包含中文</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>

        <div class="fold-line">
            <a href="#" data-ng-click="serviceUpdateCtrl.showFileMount = !serviceUpdateCtrl.showFileMount">
                <i class="fa"
                   ng-class="{'fa-minus-square-o': serviceUpdateCtrl.showFileMount, 'fa-plus-square-o': !serviceUpdateCtrl.showFileMount}"></i>文件挂载
            </a>
        </div>

        <div data-ng-show="serviceUpdateCtrl.showFileMount">
            <div class="form-group" layout="column">
                <div class="sub-button">
                    <md-button class="md-raised md-success md-small"
                               data-ng-click="serviceUpdateCtrl.addConfig(serviceUpdateCtrl.form.formMounts, 'Mounts')">
                        <i class='fa fa-plus'></i>添加存储
                        <small>可添加多个存储</small>
                    </md-button>
                </div>
                <div data-ng-repeat="mount in serviceUpdateCtrl.form.formMounts track by $index">
                    <ng-form name="mountForm">
                        <div class="form-control sub-group" layout="row" layout-align="start center">
                            <input type="text" placeholder="Source" flex="20"
                                   data-ng-model="mount.Source" data-required="required"
                                   name="Source" max="65535" min="1">

                            <md-select ng-model="mount.ReadOnly" data-required="required" flex="20"
                                       aria-label="select mount">
                                <md-option ng-value="true">只读</md-option>
                                <md-option ng-value="false">读写</md-option>
                            </md-select>

                            <input type="text" placeholder="Target" flex="20"
                                   data-ng-model="mount.Target" data-required="required"
                                   name="Target" max="65535" min="1">

                            <md-button class="md-icon-button md-primary" aria-label="trash"
                                       data-ng-click="serviceUpdateCtrl.deleteConfig($index, serviceUpdateCtrl.form.formMounts)">
                                <i class="fa fa-trash-o" aria-hidden="true"></i>
                            </md-button>
                        </div>
                    </ng-form>
                    <div ng-messages="mountForm.Source.$error"
                         ng-if="mountForm.Source.$dirty"
                         role="alert">
                    </div>

                    <div ng-messages="mountForm.Target.$error"
                         ng-if="mountForm.Target.$dirty"
                         role="alert">
                    </div>
                </div>
            </div>
        </div>

        <footer class="form-buttons">
            <md-button class="md-raised md-primary" data-ng-disabled="staticForm.$invalid"
                       data-ng-click="serviceUpdateCtrl.create()">
                更新
            </md-button>
        </footer>
    </form>
</md-content>
