<h1>添加存储卷</h1>
<form name="createVolume" class="form-main">
    <div class="form-group" layout="column">
        <label>卷名<span class="required">*</span>
            <small></small>
        </label>
        <div class="form-control">
            <input type="text" name="name"
                   data-ng-model="nodeCreateVolumeCtrl.form.Name"
                   data-ng-pattern="/^[A-Za-z0-9]+$/"
                   data-required="required">
        </div>
        <div ng-messages="createVolume.name.$error" ng-if="createVolume.name.$dirty"
             role="alert">
            <p class="help-text"
               ng-message="required">
                <small>不能为空</small>
            </p>

            <p class="help-text"
               ng-message="pattern">
                <small>卷名必须为字母或者数字</small>
            </p>
        </div>
    </div>

    <div class="form-group" layout="column">
        <label>驱动<span class="required">*</span>
            <small></small>
        </label>
        <div class="form-control">
            <div class="form-control">
                <md-select data-ng-model="nodeCreateVolumeCtrl.form.Driver" data-required="required"
                           aria-label="selectDriver" name="driver">
                    <md-option value="local">
                        本地
                    </md-option>
                </md-select>
            </div>
        </div>
    </div>

    <div class="form-group" layout="column">
        <label>标签
            <small>可添加多个标签</small>
        </label>
        <div class="sub-button">
            <md-button class="md-raised md-success md-small"
                       data-ng-click="nodeCreateVolumeCtrl.addLabel()">
                添加标签
            </md-button>
        </div>
        <div data-ng-repeat="label in nodeCreateVolumeCtrl.labels track by $index">
            <ng-form name="labels">
                <div class="form-control sub-group" layout="row" layout-align="start center">
                    <input type="text" placeholder="KEY" flex="20"
                           data-ng-model="label.key" data-required="required"
                           name="labelKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                           dm-check-include="nodeCreateVolumeCtrl.listLabel($index)">

                    <input type="text" placeholder="VALUE" flex="20"
                           data-ng-model="label.value" data-required="required"
                           name="labelValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">

                    <md-button class="md-icon-button md-primary" aria-label="delete"
                               data-ng-click="nodeCreateVolumeCtrl.deleteLabel($index)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </md-button>
                </div>
            </ng-form>
            <div ng-messages="labels.labelKey.$error" ng-if="labels.labelKey.$dirty" role="alert">
                <p class="help-text"
                   ng-message="pattern">
                    <small>标签 Key 不能包含中文</small>
                </p>
                <p class="help-text"
                   ng-message="dmCheckInclude">
                    <small>标签 Key 不能重复</small>
                </p>
            </div>

            <div ng-messages="labels.labelValue.$error" ng-if="labels.labelValue.$dirty" role="alert">
                <p class="help-text"
                   ng-message="pattern">
                    <small>标签 Value 不能包含中文</small>
                </p>
            </div>
        </div>
    </div>

    <footer class="form-buttons">
        <md-button class="md-raised md-primary"
                   data-ng-click="nodeCreateVolumeCtrl.create()"
                   data-ng-disabled="createVolume.$invalid">创建
        </md-button>
        <md-button data-ng-click="rootCtrl.goBack()">取消</md-button>
    </footer>
</form>