<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>应用部署</h2>
            </div>
        </header>
        <md-content>
            <md-tabs md-dynamic-height md-border-bottom>
                <md-tab label="基本信息">
                    <md-content class="md-padding main-tab-content">
                        <form name="staticForm">
                            <div layout="row" layout-align="end start" class="form-group form-group-input">
                                <label flex="15">应用名称</label>
                                <div flex="50" layout="column">
                                    <div flex="none">
                                        <input type="text" class="form-input" data-required="required"
                                               data-ng-model="catalogDetailCtrl.form.appName">
                                    </div>
                                </div>
                                <div flex></div>
                            </div>
                        </form>
                    </md-content>
                </md-tab>
                <md-tab label="详情">
                    <md-content class="main-tab-content">
                        <div class="alert alert-warning text-center" data-ng-if="!catalogDetailCtrl.markdown">
                            暂无详情
                        </div>
                        <marked>
                            # Markdown directive
                            *It works!*
                        </marked>
                    </md-content>
                </md-tab>
            </md-tabs>
        </md-content>
    </section>
</div>
