<md-table-container>
    <table md-table>
        <thead md-head>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="port in serviceDiscoveryCtrl.service.Spec.EndpointSpec.Ports">
            <td data-ng-if="port.PublishedPort" md-cell>
                <p ng-repeat="node in serviceDiscoveryCtrl.nodes">
                    <a data-ng-if='node.Spec.Labels["dm.swarm.node.endpoint"]' href="http://{/node.Spec.Labels['dm.swarm.node.endpoint'] | ip/}:{/port.PublishedPort/}" > {/node.Spec.Labels['dm.swarm.node.endpoint'] | ip/}:{/port.PublishedPort/} </a>
                </p>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
