<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>服务名称</th>
            <th md-column>任务数(运行中/总数)</th>
            <th md-column>创建时间</th>
            <th md-column>更新时间</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="service in stackServiceCtrl.services">
            <td md-cell>
                <a data-ui-sref="stack.serviceDetail({stack_name: stackDetailCtrl.stack.Namespace, service_id: service.ID})">{/service.Name/}</a>
            </td>
            <td md-cell>{/service.TaskRunning/}/{/service.TaskTotal/}</td>
	    <td md-cell>{/service.UpdatedAt | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
	    <td md-cell>{/service.CreatedAt | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
            <td md-cell>
                <md-menu md-offset="0 -5">
                    <md-button aria-label="nodeListMenu" class="md-button md-raised"
                               ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button aria-label="scale"
                                       data-ng-click="stackServiceCtrl.upServiceScale($event, stackDetailCtrl.stack.Namespace, service.Name, service.TaskTotal)">修改任务数
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="stop"
                                       data-ng-click="stackServiceCtrl.stopService(stackDetailCtrl.stack.Namespace, service.Name)">停止
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="update"
                                       data-ui-sref="stack.serviceUpdate({stack_name: $stateParams.stack_name, service_id: service.ID})">更新
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-if="stackServiceCtrl.services.length <= 0">
        未查询到服务信息
    </div>
</md-table-container>
