<div class="main-content">

    <md-toolbar class="md-table-toolbar md-default">
        <div class="md-toolbar-tools">
            <form flex name="filter">
                <input type="text" ng-model="repositorieListCtrl.filter" placeholder="搜索">
            </form>
        </div>
    </md-toolbar>

    <ul class="collapse in">
        <li class="panel" data-ng-repeat="repository in repositorieListContentCtrl.repositories |filter: repositorieListCtrl.filter">
            <div layout="row" layout-align="end start" class="panel-heading">
                <div class="info" flex>
                    <h3>{/repository.name/}</h3>
                </div>
                <div layout-align="end center" class="operation">
                    <md-button class="md-raised" aria-label="add"
                               data-ng-show="!repository.show"
                               ng-click="repositorieListContentCtrl.openRepository($index)">
                        <i class="fa fa-chevron-down" aria-hidden="true"></i>
                        <md-tooltip md-direction="top">
                            展开详情
                        </md-tooltip>
                    </md-button>
                    <md-button class="md-raised" aria-label="add"
                               data-ng-show="repository.show"
                               ng-click="repositorieListContentCtrl.closeRepository($index)">
                        <i class="fa fa-chevron-up" aria-hidden="true"></i>
                        <md-tooltip md-direction="top">
                            收起详情
                        </md-tooltip>
                    </md-button>
                </div>
            </div>
            <div class="panel-collapse">
                <table md-table ng-show="repository.show">
                    <thead md-head>
                    <tr md-row>
                        <th md-column><span>tag号</span></th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="tag in repository.tags">
                        <td md-cell>
                            <a>{/tag/}</a>
                        </td>
                        <td md-cell>
                            <md-menu md-offset="0 -5">
                                <md-button aria-label="Open demo menu" class="md-button md-raised"
                                           ng-click="$mdOpenMenu($event)"><i
                                        class="fa fa-ellipsis-h" aria-hidden="true"></i></md-button>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button aria-label="delete"
                                                   data-ng-click=""
                                                  >
                                            删除
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </li>
    </ul>
</div>
