<md-table-container>
    <table id="node-image-layer-table" md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>{/'Layer' | translate/}</th>
            <th md-column>{/'Created At' | translate/}</th>
            <th md-column>{/'Size' | translate/}</th>
            <th md-column>命令</th>
            <th md-column>{/'Labels' | translate/}</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="layer in nodeImageLayerCtrl.layer track by $index">
            <td md-cell>{/$index + 1/}</td>
            <td md-cell>{/layer.Created * 1000 | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
            <td md-cell>
                <span ng-if="layer.Size">{/layer.Size | size/}</span>
                <span ng-if="!layer.Size" ng-class="{'no-info': !layer.Size}">未知</span>
            </td>
            <td md-cell>
                <div style="max-width: 350px; text-overflow: ellipsis; overflow: hidden; white-space: nowrap;">
                    {/layer.CreatedBy/}
                </div>
            </td>
            <td md-cell>
                <ul>
                    <li data-ng-repeat="tag in layer.Tags">{/tag/}</li>
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
