<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4>启动命令</h4>
    </header>
    <div layout="column" flex="80">
        <code data-ng-repeat="cmd in nodeContainerConfigCtrl.container.Config.Cmd track by $index" dm-empty-display="nodeContainerConfigCtrl.container.Config.Cmd">{/cmd/}</code>
    </div>
</section>

<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4>端口映射</h4>
    </header>
    <div layout="column" flex="80">
        <md-table-container dm-empty-display="nodeContainerConfigCtrl.container.Config.ExposedPorts">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column><span>端口</span></th>
                    <th md-column><span>协议</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="(port, protocol)  in  nodeContainerConfigCtrl.container.Config.ExposedPorts">
                    <td md-cell>{/port | spliceStr: '/': 'key'/}</td>
                    <td md-cell>{/port | spliceStr: '/': 'value'/}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</section>

<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4>环境变量</h4>
    </header>
    <div layout="column" flex="80">
        <md-table-container dm-empty-display="nodeContainerConfigCtrl.container.Config.Env">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column><span>KEY</span></th>
                    <th md-column><span>VALUE</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="env  in  nodeContainerConfigCtrl.container.Config.Env">
                    <td md-cell>{/env | spliceStr: '=': 'key'/}</td>
                    <td md-cell>{/env | spliceStr: '=': 'value'/}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</section>

<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4 title="Restart Policy">重启策略</h4>
    </header>
    <div layout="column" flex="80">
        <md-table-container>
            <table md-table>
            </table>
        </md-table-container>
    </div>
</section>

<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4>网络配置</h4>
    </header>
    <div layout="column" flex="80">
        <md-table-container dm-empty-display="nodeContainerConfigCtrl.container.NetworkSettings.Networks">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column><span>网络</span></th>
                    <th md-column><span>网关</span></th>
                    <th md-column><span>IP 地址</span></th>
                    <th md-column><span>MAC 地址</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row data-ng-repeat="(name, network) in nodeContainerConfigCtrl.container.NetworkSettings.Networks">
                    <th md-cell><a data-ui-sref="node.networkDetail({node_id:$stateParams.node_id, network_id: network.NetworkID})">{/name/}</a></th>
                    <th md-cell>{/network.Gateway/}</th>
                    <th md-cell>{/network.IPAddress/}</th>
                    <th md-cell>{/network.MacAddress/}</th>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    <div>
</section>

<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4>容器标签</h4>
    </header>
    <div layout="column" flex="80">
        <md-table-container dm-empty-display="nodeContainerConfigCtrl.container.Config.Labels">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column><span>KEY</span></th>
                    <th md-column><span>VALUE</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="(key, value)  in  nodeContainerConfigCtrl.container.Config.Labels">
                    <td md-cell>{/key/}</td>
                    <td md-cell>{/value/}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</section>

<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4>存储卷</h4>
    </header>
    <div layout="column" flex="80">
        <md-table-container dm-empty-display="nodeContainerConfigCtrl.container.Config.Volumes">
            <table md-table>
                <thead md-head>
                <tr md-row>
                    <th md-column><span>路径</span></th>
                </tr>
                </thead>
                <tbody md-body>
                <tr md-row ng-repeat="(volume, obj)  in  nodeContainerConfigCtrl.container.Config.Volumes">
                    <td md-cell>{/volume/}</td>
                </tr>
                </tbody>
            </table>
        </md-table-container>
    </div>
</section>

<section class="info-view" layout="row">
    <header layout="row" flex="20">
        <h4>基础信息</h4>
    </header>
    <div layout="column" flex="80">
        <dl layout="row">
            <dt flex="20" title="Server Version">镜像</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.Config.Image/}</dd>
        </dl>
        <dl layout="row">
            <dt flex="20" title="Storage Driver">镜像 digest</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.Image/}</dd>
        </dl>
        <dl layout="row">
            <dt flex="20" title="Docker Root Dir">容器主机名</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.Config.Hostname/}</dd>
        </dl>
        <dl layout="row">
            <dt flex="20">宿主机网络</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.HostConfig.NetworkMode/}</dd>
        </dl>
        <dl layout="row">
            <dt flex="20">hostname 文件宿主机目录</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.HostnamePath/}</dd>
        </dl>
        <dl layout="row">
            <dt flex="20">host 文件宿主机目录</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.HostsPath/}</dd>
        </dl>
        <dl layout="row">
            <dt flex="20">log 文件宿主机目录</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.LogPath/}</dd>
        </dl>
        <dl layout="row">
            <dt flex="20">resolv.conf 文件宿主机目录</dt>
            <dd flex-offset="5" flex="75">{/nodeContainerConfigCtrl.container.ResolvConfPath/}</dd>
        </dl>
    <div>
</section>
