<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>应用列表</h2>
            </div>
            <div layout-align="end center" class="operation">
                <md-button class="md-fab md-mini" aria-label="创建应用" data-ui-sref="node.create">
                    <md-tooltip md-direction="top">创建应用</md-tooltip>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </header>

        <div class="main-content">

            <!-- hide search
                <md-toolbar class="md-table-toolbar md-default">
                    <div class="md-toolbar-tools">
                        <form flex name="filter.form">
                            <input type="text" ng-model="nodeListCtrl.filter" placeholder="搜索"
                                   my-enter="nodeListCtrl.table.doSearch(nodeListCtrl.filter)">
                        </form>
                    </div>
                </md-toolbar>
            -->

            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>ID</th>
                        <th md-column>创建时间</th>
                        <th md-column>更新时间</th>
                        <th md-column>类型</th>
                        <th md-column>Hostname</th>
                        <th md-column>OS</th>
                        <th md-column>状态</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="node in nodeListCtrl.nodes">
                        <td md-cell>{/node.ID/}</td>
                        <td md-cell>{/node.CreatedAt/}</td>
                        <td md-cell>{/node.UpdatedAt/}</td>
                        <td md-cell>{/node.Spec.Role/}</td>
                        <td md-cell>{/node.Description.Hostname/}</td>
                        <td md-cell>{/node.Description.Platform.OS/}</td>
                        <td md-cell>{/node.Status.State/}</td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning text-center" data-ng-if="false">
                    未查询到主机信息
                </div>
            </md-table-container>
        </div>
    </section>
</div>
