<header layout="row" layout-align="end start">
    <div flex="none">
        <md-button class="md-button md-primary md-small md-raised" aria-label="添加主机" data-ui-sref="node.create">
            <i class="fa fa-plus" aria-hidden="true"></i> 添加主机
        </md-button>
    </div>
</header>

<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>主机名</th>
            <th md-column>主机标签</th>
            <th md-column>集群角色</th>
            <th md-column dm-doc-link='https://github.com/docker/engine-api/blob/master/types/swarm/node.go#L34'> 可用性</th>
            <th md-column dm-doc-link='https://github.com/docker/engine-api/blob/master/types/swarm/node.go#L98'> 主机状态</th>
            <th md-column>创建时间</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="node in nodeListCtrl.nodes">
            <td md-cell>
                <a data-ui-sref="node.detail({node_id: node.ID})">{/node.Description.Hostname/}</a>
            </td>
            <td md-cell>
                <ul>
                    <li ng-repeat="(key, value) in node.Spec.Labels">{/key/}:{/value/}</li>
                </ul>
            </td>
            <td md-cell>{/NODE_ROLE[node.Spec.Role]/} <i class="fa fa-anchor text-info" data-ng-if="node.ManagerStatus.Leader"></i></td>
            <td md-cell>{/NODE_AVAILABILITY[node.Spec.Availability]/}</td>
            <td md-cell>{/NODE_STATE[node.Status.State]/}</td>
            <td md-cell>{/node.CreatedAt | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
            <td md-cell>
                <md-menu md-offset="0 -5">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-ellipsis-h"></i>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button aria-label="endpoint" data-ng-click="nodeListCtrl.updateEndpoint(node.ID, $event, node.Spec.Labels)">访问地址
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="labels" data-ng-click="nodeListCtrl.updateLabels(node.ID, $event, node.Spec.Labels)">编辑标签
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="drain"
                                       data-ng-disabled="node.Spec.Availability !== 'active'"
                                       data-ng-click="nodeListCtrl.drainNode(node.ID, node)">停止调度
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="active"
                                       data-ng-disabled="node.Spec.Availability === 'active'"
                                       data-ng-click="nodeListCtrl.activeNode(node.ID, node)">恢复调度
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="pause"
                                       data-ng-disabled="node.Spec.Availability !== 'active'"
                                       data-ng-click="nodeListCtrl.pauseNode(node.ID, node)">暂停调度
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="delete">删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

