<header layout="row" layout-align="end start" id="header-main">
    <div flex="none">
        <md-button class="md-button md-primary md-small md-raised" aria-label="添加主机" data-ui-sref="node.create">
            <i class="fa fa-plus" aria-hidden="true"></i> 添加主机
        </md-button>
    </div>
</header>

<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>ID</th>
            <th md-column>主机名</th>
            <th md-column>角色</th>
            <th md-column dm-doc-link='https://github.com/docker/engine-api/blob/master/types/swarm/node.go#L34'>可用性</th>
            <th md-column dm-doc-link='https://github.com/docker/engine-api/blob/master/types/swarm/node.go#L98'>状态</th>
            <th md-column>标签</th>
            <th md-column>添加时间</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="node in nodeListCtrl.nodes">
            <td md-cell>
                <a data-ui-sref="node.detail({node_id: node.ID})">{/node.ID | limitTo: ID_LIMIT_LENGTH/}</a>
                <md-tooltip md-direction="top">{/node.ID/}</md-tooltip>
            </td>
            <td md-cell>
                <a data-ui-sref="node.detail({node_id: node.ID})">{/node.Description.Hostname/}</a>
            </td>
            <td md-cell>{/NODE_ROLE[node.Spec.Role]/} <i class="fa fa-anchor text-success" data-ng-if="node.ManagerStatus.Leader"></i></td>
            <td md-cell>{/NODE_AVAILABILITY[node.Spec.Availability]/}</td>
            <td md-cell>{/NODE_STATE[node.Status.State]/}</td>
            <td md-cell>
                <ul>
                    <li ng-repeat="(key, value) in node.Spec.Labels">{/key/}:{/value/}</li>
                </ul>
            </td>
            <td md-cell>{/node.CreatedAt | date: 'yyyy-MM-dd HH:mm:ss'/}</td>
            <td md-cell>
                <md-menu md-offset="0 -5">
                    <md-button class="md-icon-button" aria-label="More" ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-ellipsis-h"></i>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button aria-label="endpoint" data-ng-click="nodeListCtrl.updateEndpoint(node.ID, $event, node.Spec.Labels)">连接主机
                                <md-tooltip md-direction="left">编辑连接主机Docker Daemon的地址</md-tooltip>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="labels" data-ng-click="nodeListCtrl.updateLabels(node.ID, $event, node.Spec.Labels)">编辑标签
                                <md-tooltip md-direction="left">编辑主机标签</md-tooltip>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="drain"
                                       data-ng-disabled="node.Spec.Availability !== 'active'"
                                       data-ng-click="nodeListCtrl.drainNode(node.ID)">停止调度
                                <md-tooltip md-direction="left">停止调度后该主机上的任务将被分配到其它主机上, 新的任务也不会被分配到该主机</md-tooltip>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="active"
                                       data-ng-disabled="node.Spec.Availability === 'active'"
                                       data-ng-click="nodeListCtrl.activeNode(node.ID)">恢复调度
                                <md-tooltip md-direction="left">恢复任务在这台主机上的自由调度</md-tooltip>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="pause"
                                       data-ng-disabled="node.Spec.Availability !== 'active'"
                                       data-ng-click="nodeListCtrl.pauseNode(node.ID)">暂停调度
                                <md-tooltip md-direction="left">暂停调度后新的任务将不再被分配到该主机，但已经发布到该主机上的任务不会受到影响</md-tooltip>
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="delete"
                                       data-ng-disabled="node.Status.State !== 'down'"
                                       data-ng-click="nodeListCtrl.deleteNode(node.ID)">删除主机
                                <md-tooltip md-direction="left">删除主机，注意只有状态为Down的主机才能被删除</md-tooltip>
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

