<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>网络列表</h2>
            </div>
            <div layout-align="end center" class="operation">
                <md-button class="md-fab md-mini" aria-label="创建网络" data-ui-sref="network.create">
                    <md-tooltip md-direction="top">创建网络</md-tooltip>
                    <i class="fa fa-plus" aria-hidden="true"></i>
                </md-button>
            </div>
        </header>

        <div class="main-content">

            <md-toolbar class="md-table-toolbar md-default">
                <div class="md-toolbar-tools">
                    <form flex name="filter">
                        <input type="text" ng-model="networkListCtrl.filter" placeholder="搜索">
                    </form>
                </div>
            </md-toolbar>

            <md-table-container>
                <table md-table>
                    <thead md-head>
                    <tr md-row>
                        <th md-column>名称</th>
                        <th md-column>类型</th>
                        <th md-column>内部模式</th>
                        <th md-column>子网掩码</th>
                        <th md-column>网关</th>
                        <th md-column>IP 范围</th>
                        <th md-column>操作</th>
                    </tr>
                    </thead>
                    <tbody md-body>
                    <tr md-row ng-repeat="network in networkListCtrl.networks | filter: networkListCtrl.filter">
                        <td md-cell>
                            <a data-ui-sref="network.detail({network_id: network.Id})">{/network.Name/}</a>
                        </td>
                        <td md-cell>{/network.Driver/}</td>
                        <td md-cell>{/network.Internal/}</td>
                        <td md-cell>{/network.IPAM.Config[0].Subnet || '未配置'/}</td>
                        <td md-cell>{/network.IPAM.Config[0].Gateway || '未配置'/}</td>
                        <td md-cell>{/network.IPAM.Config[0].IPRange || '未配置'/}</td>
                        <td md-cell>
                            <md-menu md-offset="0 -5">
                                <md-button aria-label="appListMenu" class="md-button md-raised"
                                           ng-click="$mdOpenMenu($event)">
                                    <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                                </md-button>
                                <md-menu-content width="2">
                                    <md-menu-item>
                                        <md-button aria-label="Connect">连接网络
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button aria-label="Disconnect">断开网络
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button aria-label="delete"
                                                   data-ng-click="networkListCtrl.deleteNetwork(network.Id)">删除
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </td>
                    </tr>
                    </tbody>
                </table>
                <div class="alert alert-warning text-center" data-ng-if="!networkListCtrl.networks.length">
                    未查询到网络信息
                </div>
            </md-table-container>
        </div>
    </section>
</div>
