<section layout="row" class="info-list-detail">
    <h2 flex="20">IP:Port</h2>
    <div flex="80" layout="row" layout-wrap dm-empty-display="serviceDiscoveryCtrl.service.Spec.EndpointSpec.Ports">
        <ul ng-repeat="port in serviceDiscoveryCtrl.service.Spec.EndpointSpec.Ports">
            <li ng-repeat="node in serviceDiscoveryCtrl.nodes">
                <a id="discovery-endpoint-{/$index/}" data-ng-if='node.Spec.Labels["crane.reserved.node.endpoint"]'
                   ng-href="http://{/node.Spec.Labels['crane.reserved.node.endpoint'] | ip/}:{/port.PublishedPort/}"
                   target='_blank'>
                {/node.Spec.Labels['crane.reserved.node.endpoint'] | ip/}:{/port.PublishedPort/}
                </a>
            </li>
        </ul>
    </div>
</section>
<section layout="row" class="info-list-detail">
    <h2 flex="20">{/'Nginx Configuration Reference' | translate/}</h2>
    <div flex="80" layout="column" layout-align="start start" dm-empty-display="serviceDiscoveryCtrl.nginx">
        <code id="nginx">
            <pre>{/serviceDiscoveryCtrl.nginx/}</pre>
        </code>
        <md-button id="nginx-copy-btn" class="md-button md-primary copy" ngclipboard data-clipboard-target="#nginx">
            <i class="fa fa-clone"></i> {/'Copy Text' | translate/}
        </md-button>
    </div>
</section>
<section layout="row" class="info-list-detail">
    <h2 flex="20">{/'Haproxy Configuration Reference' | translate/}</h2>
    <div flex="80" layout="column" layout-align="start start" dm-empty-display="serviceDiscoveryCtrl.haproxy">
        <code id="haproxy">
            <pre>{/serviceDiscoveryCtrl.haproxy/}</pre>
        </code>
        <md-button id="haproxy-copy-btn" class="md-button md-primary copy" ngclipboard data-clipboard-target="#haproxy">
            <i class="fa fa-clone"></i> {/'Copy Text' | translate/}
        </md-button>
    </div>
</section>
