<header layout="row" layout-align="end start" id="header-main">
    <div flex="none">
        <md-button id="Rauth-add" class="md-button md-primary md-small md-raised" aria-label="添加认证"
                   data-ui-sref="registryAuth.create">
            <i class="fa fa-plus" aria-hidden="true"></i> {/'Add registry auth' | translate/}
        </md-button>
    </div>
</header>

<md-table-container>
    <table id="Rauth-list-table" md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>{/'Name' | translate/}</th>
            <th md-column>{/'Username' | translate/}</th>
            <th md-column>{/'Password' | translate/}</th>
            <th md-column>{/'Operation' | translate/}</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="reAuth in regAuthListCtrl.reAuths">
            <td md-cell>{/reAuth.Name/}</td>
            <td md-cell>{/reAuth.Username/}</td>
            <td md-cell>******</td>
            <td md-cell>
                <md-button id="Rauth-delete-{/$index/}" class="md-icon-button" aria-label="delete"
                           data-ng-click="regAuthListCtrl.deleteRegAuth(reAuth.Name)"><i class="fa fa-trash"></i>
                    <md-tooltip md-direction="left">{/'Delete' | translate/}</md-tooltip>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>

