<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>创建应用编排</h2>
            </div>
        </header>
        <div class="main-content">
            <form name="staticForm">
                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">编排名称</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" data-ng-model="stackCreateByJsonCtrl.form.Namespace"
                                   data-required="required" name="Name"
                                   data-ng-pattern="/^[A-Za-z0-9]+$/">
                        </div>
                        <div ng-messages="staticForm.Name.$error" ng-if="staticForm.Name.$dirty"
                             role="alert">
                            <p class="error-info help-info-bottom"
                               ng-message="required">
                                <small>名称不能为空</small>
                            </p>
                            <p class="error-info help-info-bottom"
                               ng-message="pattern">
                                <small>名称必须数字或者英文</small>
                            </p>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-select">
                    <label flex="15">选择用户组</label>
                    <div flex="50" layout="column">
                        <md-input-container>
                            <md-select data-ng-model="stackCreateByJsonCtrl.selectGroupId" aria-label="selectGroupId"
                                       md-on-open="stackCreateByJsonCtrl.loadGroups()">
                                <md-option ng-value="" ng-selected="true">空</md-option>
                                <md-option
                                        data-ng-repeat="group in stackCreateByJsonCtrl.groups"
                                        ng-value="group.Id">{/group.Name/}
                                </md-option>
                            </md-select>
                        </md-input-container>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-textarea">
                    <label flex="15">Stack JSON</label>
                    <div flex="50" layout="column">
                        <div layout="row">
                            <div class="CodeMirror-container">
                                <textarea data-ng-model="stackCreateByJsonCtrl.stack"
                                          data-required="required" name="Stack"
                                          ui-codemirror ui-codemirror-opts="stackCreateByJsonCtrl.editorOptions"
                                          ui-refresh="stackCreateByJsonCtrl.refreshCodeMirror"
                                          data-ng-change="stackCreateByJsonCtrl.stackChange()">

                                </textarea>
                            </div>
                        </div>
                        <div ng-messages="staticForm.Stack.$error" ng-if="staticForm.Stack.$dirty" role="alert">
                            <p class="error-info help-info-bottom"
                               ng-message="required">
                                <small>不能为空</small>
                            </p>
                        </div>
                        <p class="help-info-bottom error-info" data-ng-show="stackCreateByJsonCtrl.errorInfo.stack">
                            {/stackCreateByJsonCtrl.errorInfo.stack/}
                        </p>

                        <div layout="row" layout-align="space-between center">
                            <p class="help-info-bottom">
                                <input id="dockerFileInput" name="file" type="file" class="ng-hide"
                                       accept="text/plain, .json"
                                       onchange="angular.element(this).scope().stackCreateByJsonCtrl.onFileSelect(this.files)">
                                <md-button class="md-primary" trigger-prev-click><i class="fa fa-upload"></i> 从文件中读取
                                </md-button>
                            </p>

                            <p class="help-info-bottom">
                                <md-button class="md-primary" data-ng-click="stackCreateByJsonCtrl.getStackExample('2048')"><i
                                        class="fa fa-file-text"></i> 2048 单服务
                                </md-button>
                                <md-button class="md-primary"
                                           data-ng-click="stackCreateByJsonCtrl.getStackExample('mysql_display')"><i
                                        class="fa fa-file-text"></i> Mysql, Mywebsql 编排
                                </md-button>
                                <md-button class="md-primary"
                                           data-ng-click="stackCreateByJsonCtrl.getStackExample('wordpress')"><i
                                        class="fa fa-file-text"></i> wordpress, Mysql 编排
                                </md-button>
                            </p>
                        </div>

                    </div>
                    <div flex></div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15" layout="row" layout-align="end end">
                        <md-button class="md-raised md-primary"
                                   data-ng-disabled="staticForm.$invalid || stackCreateByJsonCtrl.errorInfo.stack"
                                   data-ng-click="stackCreateByJsonCtrl.create()">
                            创建
                        </md-button>
                        <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>
            </form>
        </div>

        <footer></footer>
        <section>
        </section>
    </section>
</div>
