<form name="staticForm" class="form-main">
    <div class="form-group" layout="column">
        <label>项目名称<span class="required">*</span>
            <small></small>
        </label>
        <div class="form-control">
            <input type="text" data-ng-model="createCatalog.form.Namespace" data-required="required" name="Name"
                   data-ng-pattern="/^[A-Za-z0-9]+$/" focus-me>
        </div>
        <div ng-messages="staticForm.Name.$error" ng-if="staticForm.Name.$dirty" role="alert">
            <p class="text-danger help-text" ng-message="required">名称不能为空</p>
            <p class="text-danger help-text" ng-message="pattern">名称必须数字或者英文</p>
        </div>
    </div>

    <div class="form-group" layout="column">
        <label dm-doc-link='https://blog.docker.com/2016/06/docker-app-bundle/'>DAB<span
                class="required">*</span></label>
        <div class="form-control">
            <textarea data-ng-model="createCatalog.stack" data-required="required" name="Stack" ui-codemirror
                      ui-codemirror-opts="createCatalog.editorOptions"
                      ui-refresh="createCatalog.refreshCodeMirror"
                      data-ng-change="createCatalog.stackChange()"></textarea>
        </div>

        <div ng-messages="staticForm.Stack.$error" ng-if="staticForm.Stack.$dirty" role="alert">
            <p class="text-danger help-text"
               ng-message="required">
                <small>不能为空</small>
            </p>
        </div>
        <p class="text-danger help-text" data-ng-show="createCatalog.errorInfo.stack">
            {/createCatalog.errorInfo.stack/}
        </p>

    </div>

    <div layout="row" layout-align="space-between start" style="width: 580px;">
        <div flex="none">
            <img class="thumb" ng-src="{/createCatalog.imageData/}" height="200" width="200" alt="添加项目图片..."/>
            <input type='file' class="ng-hide" ng-model-instant
                   onchange="angular.element(this).scope().createCatalog.imageUpload(this.files)"/>
            <md-button trigger-prev-click class="md-small md-primary"><i class="fa fa-upload"></i> 从文件中读取
        </div>
    </div>
    <footer class="form-buttons">
        <md-button class="md-raised md-primary"
                   data-ng-disabled="staticForm.$invalid || createCatalog.errorInfo.stack || createCatalog.imageSize > IMAGE_MAX_SIZE"
                   data-ng-click="createCatalog.create()">部署
        </md-button>
        <md-button data-ng-click="rootCtrl.goBack()">取 消</md-button>
    </footer>
</form>
