<md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="基本信息">
        <form name="staticForm" class="form-main">
            <div class="form-group" layout="column">
                <label>编排名称<span class="required">*</span>
                    <small></small>
                </label>
                <div class="form-control">
                    <input type="text" data-required="required" name="stackName" focus-me
                           data-ng-model="catalogDetailCtrl.form.Namespace">
                </div>
                <div ng-messages="staticForm.stackName.$error" ng-if="staticForm.stackName.$dirty" role="alert">
                    <p class="help-text"
                       ng-message="required">
                        <small>名称不能为空</small>
                    </p>
                </div>
            </div>

            <div class="form-group" layout="column">
                <label dm-doc-link='https://blog.docker.com/2016/06/docker-app-bundle/'>DAB<span
                        class="required">*</span></label>
                <div class="form-control">
                    <textarea data-ng-model="catalogDetailCtrl.stack"
                              data-required="required" name="Stack"
                              ui-codemirror ui-codemirror-opts="catalogDetailCtrl.editorOptions"
                              ui-refresh="catalogDetailCtrl.refreshCodeMirror"
                              data-ng-change="catalogDetailCtrl.stackChange()">
                    </textarea>
                </div>

                <div ng-messages="staticForm.Stack.$error" ng-if="staticForm.Stack.$dirty"
                     role="alert">
                    <p class="text-danger help-text"
                       ng-message="required">
                        <small>不能为空</small>
                    </p>
                </div>
                <p class="text-danger help-text"
                   data-ng-show="catalogDetailCtrl.errorInfo.stack">
                    {/catalogDetailCtrl.errorInfo.stack/}
                </p>
            </div>

            <footer class="form-buttons">
                <md-button class="md-raised md-primary"
                           data-ng-disabled="staticForm.$invalid  || catalogDetailCtrl.errorInfo.stack"
                           data-ng-click="catalogDetailCtrl.create()">
                    创建
                </md-button>
            </footer>
        </form>
    </md-tab>

    <md-tab label="详情">
        <md-content class="main-tab-content">
            <div class="alert alert-warning text-center" data-ng-if="!catalogDetailCtrl.description">
                暂无详情
            </div>
            <div>{/catalogDetailCtrl.description/}</div>
        </md-content>
    </md-tab>
</md-tabs>
