<md-dialog aria-label="select image">
    <form name="staticForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>主机标签</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="formCtrl.cancel()"
                           aria-label="cancel">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <div class="sub-button">
            <md-button class="md-raised md-success md-small"
                       data-ng-click="formCtrl.add()">
                添加主机标签
            </md-button>
        </div>
        <div data-ng-repeat="label in formCtrl.labels track by $index">
            <ng-form name="envForm">
                <div class="form-control sub-group" layout="row" layout-align="start center">
                    <input flex="20" type="text" placeholder="KEY"
                           data-ng-model="label.key" data-required="required"
                           name="labelKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">

                    <input flex="20" type="text" placeholder="VALUE"
                           data-ng-model="label.value" data-required="required"
                           name="labelValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/"
                           dm-check-include="formCtrl.checkRepeatKey($index)">

                    <md-button class="md-icon-button md-primary" aria-label="trash"
                               data-ng-click="formCtrl.delete($index)">
                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                    </md-button>
                </div>
            </ng-form>
            <div ng-messages="envForm.labelKey.$error" ng-if="envForm.labelKey.$dirty"
                 role="alert">
                <p class="help-text"
                   ng-message="pattern">
                    <small>主机标签 Key 值不能包含中文</small>
                </p>
                <p class="help-text"
                   ng-message="dmCheckInclude">
                    <small>主机标签 Key 值不能重复</small>
                </p>
            </div>
        </div>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="formCtrl.cancel()" aria-label="cancel">
                取消
            </md-button>
            <md-button data-ng-disabled="staticForm.$invalid" data-ng-click="formCtrl.ok()"
                       aria-label="ok" style="margin-right:20px;">
                确认
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

