<md-dialog aria-label="select image">
    <form name="staticForm">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>填写主机访问地址</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="formCtrl.cancel()"
                           aria-label="cancel">
                    <i class="fa fa-close"></i>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content style="width: 400px; max-height: 400px; min-height: 100px;">
            <div layout="row" layout-align="end center" class="form-group form-group-input" layout-margin
                 layout-padding>
                <label flex="30">连接地址</label>
                <div flex="60" layout="column">
                    <div flex>
                        <input type="text" class="form-input" name="endpoint" aria-label="endpoint" data-ng-model="formCtrl.endpoint">
                    </div>
                </div>
                <div flex></div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <span flex></span>
            <md-button ng-click="formCtrl.cancel()" aria-label="cancel">
                取消
            </md-button>
            <md-button data-ng-disabled="staticForm.$invalid" data-ng-click="formCtrl.ok()"
                       aria-label="ok" style="margin-right:20px;">
                确认
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>

