<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>容器名称</th>
            <th md-column>服务</th>
            <th md-column>任务</th>
            <th md-column>状态</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="container in nodeContainerCtrl.containers">
            <td md-cell>
                <a data-ui-sref="node.containerDetail({node_id: $stateParams.node_id, container_id: container.Id, container_name: container.Names[0]})">{/container.Names[0]/}</a>
            <td md-cell>{/container.Labels['com.docker.swarm.service.name']/}</td>
            <td md-cell>{/container.Labels['com.docker.swarm.task.name']/}</td>
            <td md-cell>{/CONTAINER_STATUS_LABELS[container.State]/}</td>
            <td md-cell>
                <md-menu md-offset="0 -5">
                    <md-button aria-label="containerListMenu" class="md-button md-raised"
                               ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button aria-label="rm" data-ng-click="nodeContainerCtrl.removeContainer(container.Id)">移除
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button aria-label="kill" data-ng-click="nodeContainerCtrl.killContainer(container.Id)">杀死
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-if="nodeContainerCtrl.containers.length <= 0">
        未查询到容器信息
    </div>
</md-table-container>
