<md-toolbar class="md-table-toolbar md-default">
    <div class="md-toolbar-tools">
        <form flex name="filter">
            <input type="text" ng-model="nodeNetworkCtrl.filter" placeholder="搜索">
        </form>
    </div>
</md-toolbar>

<md-table-container>
    <table md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>网络名称</th>
            <th md-column>作用范围</th>
            <th md-column>类型</th>
            <th md-column>容器数</th>
            <th md-column>操作</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="network in nodeNetworkCtrl.networks | filter: nodeNetworkCtrl.filter">
            <td md-cell>
                <a data-ui-sref="node.networkDetail({node_id: $stateParams.node_id, network_id: network.Id})">{/network.Name/}</a>
            </td>
            <td md-cell>{/network.Scope/}</td>
            <td md-cell>{/network.Driver/}</td>
            <td md-cell>{/network.Containers | keylength/}</td>
            <td md-cell>
                <md-menu md-offset="0 -5">
                    <md-button aria-label="nodeNetworkMenu" class="md-button md-raised"
                               ng-click="$mdOpenMenu($event)">
                        <i class="fa fa-ellipsis-h" aria-hidden="true"></i>
                    </md-button>
                    <md-menu-content width="2">
                        <md-menu-item>
                            <md-button aria-label="delete">删除
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="alert alert-warning text-center" data-ng-if="!nodeNetworkCtrl.networks.length">
        未查询到网络信息
    </div>
</md-table-container>
