<div class="main-content app-layout">
    <section class="main-section">
        <header layout="row" layout-align="end start">
            <div class="info" flex>
                <h2>创建单机网络</h2>
            </div>
        </header>
        <div class="main-content">
            <form name="createSingleNetwork">
                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">网络名称</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input" data-ng-model="nodeCreateNetworkCtrl.form.Name"
                                   data-required="required" name="name">
                        </div>

                        <div ng-messages="createSingleNetwork.name.$error" ng-if="createSingleNetwork.name.$dirty"
                             role="alert">
                            <p class="error-info help-info-bottom"
                               ng-message="required">
                                <small>名称不能为空</small>
                            </p>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">子网掩码</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input"
                                   data-ng-model="nodeCreateNetworkCtrl.form.IPAM.Config[0].Subnet"
                                   name="Subnet" placeholder="例:172.20.0.0/16 (可选)"
                                   data-ng-pattern="/^\d{1,3}(\.\d{1,3}){3}\/\d{1,2}$/">
                        </div>

                        <div ng-messages="createSingleNetwork.Subnet.$error" ng-if="createSingleNetwork.Subnet.$dirty"
                             role="alert">
                            <p class="error-info help-info-bottom"
                               ng-message="pattern">
                                <small>子网掩码不合法</small>
                            </p>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">网关</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input"
                                   data-ng-model="nodeCreateNetworkCtrl.form.IPAM.Config[0].Gateway"
                                   name="Gateway" placeholder="例:172.20.10.11 (可选)"
                                   data-ng-pattern="/^\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}$/">
                        </div>

                        <div ng-messages="createSingleNetwork.Gateway.$error" ng-if="createSingleNetwork.Gateway.$dirty"
                             role="alert">
                            <p class="error-info help-info-bottom"
                               ng-message="pattern">
                                <small>网关不合法</small>
                            </p>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end start" class="form-group form-group-input">
                    <label flex="15">IP 范围</label>
                    <div flex="50" layout="column">
                        <div flex="none">
                            <input type="text" class="form-input"
                                   data-ng-model="nodeCreateNetworkCtrl.form.IPAM.Config[0].IPRange"
                                   name="IPRange" placeholder="例:172.20.10.0/24 (可选)"
                                   data-ng-pattern="/^\d{1,3}(\.\d{1,3}){3}\/\d{1,2}$/"
                                   ng-required="nodeCreateNetworkCtrl.form.IPAM.Config[0].IPRange">
                        </div>

                        <div ng-messages="createSingleNetwork.IPRange.$error" ng-if="createSingleNetwork.IPRange.$dirty"
                             role="alert">
                            <p class="error-info help-info-bottom"
                               ng-message="pattern">
                                <small>IP 范围不合法</small>
                            </p>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="end center" class="form-group form-group-radio">
                    <label flex="15">内部网络</label>
                    <div flex="30" layout="column">
                        <div flex>
                            <md-radio-group ng-model="nodeCreateNetworkCtrl.form.Internal" layout="row"
                                            data-required="required" aria-label="Network Internal">
                                <md-radio-button ng-value="true" class="md-accent" flex>是</md-radio-button>
                                <md-radio-button ng-value="false" class="md-accent" flex>否</md-radio-button>
                            </md-radio-group>
                        </div>
                    </div>
                    <div flex></div>
                </div>

                <div layout="row" layout-align="start start" class="form-group form-group-input form-group-addrow">
                    <label flex="15">标签</label>
                    <div flex="60" layout="column">
                        <div flex>
                            <md-button class="md-primary"
                                       aria-label="Add label"
                                       data-ng-click="nodeCreateNetworkCtrl.addLabel()">
                                <i class="fa fa-plus"></i>
                                添加标签
                            </md-button>
                            可添加多个标签
                        </div>
                        <div class="add-row-container"
                             data-ng-repeat="label in nodeCreateNetworkCtrl.labels track by $index">
                            <ng-form name="labelForm" layout="row" layout-align="start center">
                                <input type="text" placeholder="KEY" flex="40"
                                       data-ng-model="label.key" data-required="required"
                                       name="labelKey" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                <input type="text" placeholder="VALUE" flex-offset="5" flex="40"
                                       data-ng-model="label.value" data-required="required"
                                       name="labelValue" data-ng-pattern="/^[^\u4e00-\u9fa5]*$/">
                                <div flex-offset="5" flex>
                                    <md-button class="md-icon-button md-accent" aria-label="delete"
                                               data-ng-click="nodeCreateNetworkCtrl.deleteLabel($index)">
                                        <i class="fa fa-trash"></i>
                                    </md-button>
                                </div>
                            </ng-form>
                            <div ng-messages="labelForm.labelKey.$error" ng-if="labelForm.labelKey.$dirty" role="alert">
                                <p class="error-info help-info-bottom"
                                   ng-message="pattern">
                                    <small>标签 Key 不能包含中文</small>
                                </p>
                            </div>

                            <div ng-messages="labelForm.labelValue.$error" ng-if="labelForm.labelValue.$dirty"
                                 role="alert">
                                <p class="error-info help-info-bottom"
                                   ng-message="pattern">
                                    <small>标签 Value 不能包含中文</small>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div layout="row" class="form-footer-button">
                    <div flex-offset="15" layout="row" layout-align="end end">
                        <md-button class="md-raised md-primary"
                                   data-ng-disabled="createSingleNetwork.$invalid"
                                   data-ng-click="nodeCreateNetworkCtrl.create()">
                            创建
                        </md-button>
                        <md-button class="md-primary" data-ng-click="rootCtrl.goBack()">取 消</md-button>
                    </div>
                </div>
            </form>
        </div>

        <footer></footer>
        <section>
        </section>
    </section>
</div>
