<section data-ng-repeat="repository in repositorieListMineCtrl.repositories ">
    <div class="info-list-detail" layout="row">
        <div flex="20">
            <h2>{/repository.Namespace + "/" + repository.Image/}</h2>
            <dl layout="row">
                <dt><i class="fa fa-cloud-download"></i><md-tooltip md-direction="bottom">{/'Pull Count' | translate/}</md-tooltip></dt><dd flex-offset="5" class="text-info">{/repository.PullCount/}</dd>
                <dt flex-offset="10"><i class="fa fa-cloud-upload"><md-tooltip md-direction="bottom">{/'Push Count' | translate/}</md-tooltip></i></dt><dd flex-offset="5" class="text-info">{/repository.PushCount/}</dd>
            </dl>
            <md-switch class="md-primary" ng-true-value="1" ng-false-value="0" ng-model="repository.Publicity" ng-change="repositorieListMineCtrl.toggleImagePublicity(repository)">{/'Public' | translate/}</md-switch>
        </div>
        <div flex="80">
            <table id="image-mine-table" cellpadding="0" cellspacing="0">
              <tr>
                  <th>TAG</th>
                  <th>docker pull</th>
                  <th>{/'Size' | translate/}<small>MB</small></th>
                  <th>{/'Digest' | translate/}</th>
              </tr>
              <tr ng-repeat="tag in repository.tags">
              <td>{/tag.tag/}</td>
              <td>docker pull {/DOCKER_REGISTRY_URL/}{/repository.Namespace + "/" + repository.Image/}:{/tag.tag/}</td>
              <td>{/tag.size | size/}</td>
              <td><p class="ellipsis">{/tag.digest/}<md-tooltip md-direction="bottom">{/tag.digest/}</md-tooltip></p></td>
            </tr>
          </table>
        </div>
    </div>
</section>
