<section data-ng-repeat="repository in repositorieListPublicCtrl.repositories ">
    <div class="info-list-detail" layout="row">
        <div flex="20">
            <h2>{/repository.name/}</h2>
            <dl layout="row">
                <dt><i class="fa fa-cloud-download"></i><md-tooltip md-direction="bottom">下载次数</md-tooltip></dt><dd flex-offset="5" class="text-info">{/repository.PullCount/}</dd>
                <dt flex-offset="10"><i class="fa fa-cloud-upload"><md-tooltip md-direction="bottom">上传次数</md-tooltip></i></dt><dd flex-offset="5" class="text-info">{/repository.PushCount/}</dd>
            </dl>
        </div>
        <div flex="80">
            <table id="image-public-list" cellpadding="0" cellspacing="0">
                    <tr>
                        <th>TAG</th>
                        <th>docker pull</th>
                        <th>{/'Size' | translate/}<small>MB</small></th>
                        <th>{/'Digest' | translate/}</th>
                    </tr>
                    <tr ng-repeat="tag in repository.tags">
                        <td>{/tag.tag/}</td>
                        <td>docker pull {/DOCKER_REGISTRY_URL/}{/repository.name/}:{/tag.tag/}</td>
                        <td>{/tag.size | size/}</td>
                        <td><p class="ellipsis">{/tag.digest/}<p></td>
                    </tr>
                </table>
        </div>
    </div>
</section>
