<header id="header-main" layout="row">
    <div flex="auto">
        <h1><i class="fa fa-server"></i>{/nodeDetailCtrl.node.Name/} <div class="label-node-ip">{/nodeDetailCtrl.node.Swarm.NodeAddr/}</div></h1>
        <div class="sub-info-main">
            <dl class="info-list">
                <dt>{/'Running containers' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.ContainersRunning/}</dd>
                <dt>{/'Total containers' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.Containers/}</dd>
                <dt>{/'Paused containers' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.ContainersPaused/}</dd>
                <dt>{/'Stopped containers' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.ContainersStopped/}</dd>
                <dt>{/'Images Sum' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.Images/}</dd>
            </dl>
            <dl class="info-list">
                <dt>{/'System' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.OperatingSystem/}</dd>
                <dt>{/'Kernel version' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.KernelVersion/}</dd>
                <dt>CPU</dt>
                <dd>{/nodeDetailCtrl.node.NCPU/} {/'Core' | translate/}</dd>
                <dt>{/'Memory' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.MemTotal | size/}</dd>
            </dl>
            <dl class="info-list" ng-if="nodeDetailCtrl.node.Label">
                <dt>{/'Node labels' | translate/}</dt>
                <dd>{/nodeDetailCtrl.node.Label/}</dd>
            </dl>
        </div>
    </div>
    <div flex="none">
        <md-menu md-offset="0 -5">
            <md-button id="node-detail-create" class="md-button md-small md-primary md-raised" aria-label="More" ng-click="$mdOpenMenu($event)">
                <i class="fa fa-ellipsis-h"></i> {/'Create' | translate/}
            </md-button>
            <md-menu-content width="2">
                <md-menu-item>
                    <md-button id="node-create-disk" aria-label="start" data-ui-sref="node.createVolume({node_id: $stateParams.node_id})">
                        {/'Create Volume' | translate/}
                    </md-button>
                </md-menu-item>
                <md-menu-item>
                    <md-button id="node-create-network" aria-label="start" data-ui-sref="node.createNetwork({node_id: $stateParams.node_id})">
                       {/'Create Host-Only network' | translate/}
                    </md-button>
                </md-menu-item>
            </md-menu-content>
        </md-menu>
    </div>
</header>
<md-tabs md-dynamic-height md-border-bottom>
    <md-tab id="node-tab-config" label="{/'Basic Information' | translate/}" dm-tab-sref="node.detail.config"></md-tab>
    <md-tab id="node-tab-container" label="{/'Container' | translate/}" dm-tab-sref="node.detail.container"></md-tab>
    <md-tab id="node-tab-neetwork" label="{/'Network' | translate/}" dm-tab-sref="node.detail.network"></md-tab>
    <md-tab id="node-tab-volume" label="{/'Volume' | translate/}" dm-tab-sref="node.detail.volume"></md-tab>
    <md-tab id="node-tab-image" label="{/'Image' | translate/}" dm-tab-sref="node.detail.image"></md-tab>
</md-tabs>
<md-content ui-view></md-content>
