<md-table-container>
    <table id="node-network-list" md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>ID</th>
            <th md-column>{/'Name' | translate/}</th>
            <th md-column>{/'Scope' | translate/}</th>
            <th md-column>{/'Type' | translate/}</th>
            <th md-column>{/'Container Sum' | translate/}</th>
            <th md-column>{/'Operation' | translate/}</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="network in nodeNetworkCtrl.networks">
            <td md-cell>
                <a id="node-network-id-{/$index/}" class="ellipsis"
                   data-ui-sref="node.networkDetail({node_id: $stateParams.node_id, network_id: network.Id})">{/network.Id
                    | limitTo: ID_LIMIT_LENGTH/}</a>
                <md-tooltip md-direction="top">{/network.Id/}</md-tooltip>
            </td>
            <td md-cell>
                <a id="node-network-name-{/$index/}" class="ellipsis"
                   data-ui-sref="node.networkDetail({node_id: $stateParams.node_id, network_id: network.Id})">{/network.Name/}</a>
                <md-tooltip md-direction="top">{/network.Name/}</md-tooltip>
            </td>
            <td md-cell>{/network.Scope/}</td>
            <td md-cell>{/network.Driver/}</td>
            <td md-cell><span ng-class="{'no-info': !network.Containers}">{/network.Containers | keylength/}</span></td>
            <td md-cell>
                <md-button id="node-delete-network-{/$index/}" class="md-icon-button" aria-label="delete"
                           ng-hide="RESERVED_NETWORK_NAMES.indexOf(network.Name) !== -1"
                           data-ng-click="nodeNetworkCtrl.deleteNetwork(network.Id)"><i class="fa fa-trash"/>
                    <md-tooltip md-direction="left">{/'Remove network' | translate/}</md-tooltip>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
