<md-table-container>
    <table id="node-volume-list" md-table>
        <thead md-head>
        <tr md-row>
            <th md-column>{/'Volume' | translate/}</th>
            <th md-column>{/'Driver' | translate/}</th>
            <th md-column>{/'Mount points' | translate/}</th>
            <th md-column>{/'Operation' | translate/}</th>
        </tr>
        </thead>
        <tbody md-body>
        <tr md-row ng-repeat="volume in nodeVolumeCtrl.volumes">
            <td md-cell>
                <a class="ellipsis" id="{/volume.Name/}"
                   data-ui-sref="node.volumeDetail({node_id: $stateParams.node_id, volume_name: volume.Name})">
                    {/volume.Name | limitTo: ID_LIMIT_LENGTH/}
                    <md-tooltip md-direction="top">{/volume.Name/}</md-tooltip>
                </a>
            </td>
            <td md-cell>{/VOL_DRIVER[volume.Driver]/}</td>
            <td md-cell>
                <p class="ellipsis">{/volume.Mountpoint/}
                    <md-tooltip md-direction="top">{/volume.Mountpoint/}</md-tooltip>
                </p>
            </td>
            <td md-cell>
                <md-button id="delete-volume{/$index/}" class="md-icon-button" aria-label="delete"
                           data-ng-click="nodeVolumeCtrl.deleteVolume(volume.Name)"><i class="fa fa-trash"/>
                    <md-tooltip md-direction="left">{/'Remove volume' | translate/}</md-tooltip>
                </md-button>
            </td>
        </tr>
        </tbody>
    </table>
</md-table-container>
