<header layout="row" id="header-main">
    <md-button class="md-raised md-primary" flex="25" data-ui-sref="stack.createByJson"><i class="fa fa-code"></i> Json
        创建应用
    </md-button>
    <md-button class="md-raised md-primary" flex="25" data-ui-sref="stack.createByForm"><i
            class="fa fa-mouse-pointer"></i> 快捷方式创建应用
    </md-button>
    <md-button class="md-raised md-primary" flex="25" data-ui-sref="registry.list.catalogs"><i
            class="fa fa-shopping-basket"></i> 应用目录创建应用
    </md-button>
</header>

<div layout="row" layout-wrap>
    <div flex="50" data-ng-repeat="stack in stackListCtrl.stacks | filter: stackListCtrl.filter | orderBy: $index">
        <div class="app-panel">
            <header>
                <h1><a data-ui-sref="stack.detail({stack_name: stack.Namespace})">{/stack.Namespace/}</a></h1>
                <ul layout="row">
                  <li>{/stack.Services[0].CreatedAt | date/}</li>
                    <li flex-offset="5">服务数量: {/stack.ServiceCount/}</li>
                </ul>
            </header>
            <table>
                <tr>
                    <th><i class="fa fa-wrench" aria-hidden="true"></i></th>
                    <th><i class="fa fa-tasks" aria-hidden="true"></i></th>
                </tr>
                <tr data-ng-repeat="service in stack.Services | orderBy: $index">
                  <td> <a data-ui-sref="stack.serviceDetail({stack_name: stack.Namespace, service_id: service.ID})">{/service.Name/}</a></td>
                    <td>{/service.NumTasksRunning/}/{/service.NumTasksTotal/}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
